@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "index";
}



@*razor view, combine html and C# <br />
_ViewStart.cshtml -> ..MVC/Views/Shared/_Layout  basic structure of homepage. <br />

This is homepage <br />     
Path .. MVC/Views/Home/index <br />
call partial view  "_MovieCard", which is located  ..MVC/Views/Shared <br />*@

@model IEnumerable<MovieStore.Core.Entities.Movie>


<div>
    <div class="container-fluid">
        <div class="row">
            @foreach (var movie in Model)
            {
                @*<partial name="_MovieCard" model=" movie" />*@ @*firstway*@
                @await Html.PartialAsync("_MovieCard", movie)   @*secondway*@
            }
        </div>
    </div>
</div>