<h1 style="display:none;">{{movie.title}}</h1>
<!-- <h1>{{movieId}}</h1>
<h1>{{isPurchased}}</h1>
<h1>{{isFavorited}}</h1> -->
<!-- cant not delete this line above, if it is deleted, gernes vanishes. -->
<div class="bg-image" [style.backgroundImage]="'url('+ movie?.backdropUrl +')'">

  <div class="row">
    <!-- offset-2   offset from the lefthand side of window -->
    <div class="col-md-2 offset-2" style="width: 300px; height:450px">
      <app-movie-card [movie]=movie></app-movie-card>
    </div>

    <div class="col-md-4">

      <div class="row mt-2">
        <div class="col-12">
          <h1 class="text-white"> {{movie?.title}}
          </h1>
          <small style="color: cornflowerblue;"> {{movie?.tagline}} </small>
        </div>
      </div>

      <div class="row">
        <div class="col-4 text-secondary font-weight-bold mt-2">
          {{movie?.runTime}} m | {{movie?.releaseDate | date:'yyyy'}}
        </div>
        <div class="col-8 mt-2">
          <ng-container *ngFor="let g of movie?.movieGenres">
            <a href="#" *ngIf="g" [routerLink]="['/movies/genre/', g?.genreId ]"
              class="badge badge-pill badge-dark ml-1">
              {{g?.genre.name}}</a>
          </ng-container>
        </div>
      </div>

      <div class="row">
        <div class="col-4 mt-3">
          <h4>
            <span *ngIf="movie?.rating > 0" class="badge badge-warning">
              {{movie?.rating | number:'1.1-1'}}
              <!-- angular decimal pipe, for numbe formatting -->
            </span>
          </h4>
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-light mt-2">
          {{movie?.overview}}
        </div>
      </div>
    </div>

    <div class="col-md-2 mt-4 offset-1">
      <ul class="list-group">
        <li class="list-group-item">
          <p>app-favorite-button</p>
          <!-- <app-favorite-button (toggle)="onToggleFavorite($event)"
                               [isFavorited]='currentMovieFavorited'
                               [movieDetails]='movie'>
          </app-favorite-button> -->

        </li>
        <li class="list-group-item">
          <button type="button" class="btn btn-outline-info btn-lg btn-block btn-sm"> <i class="far fa-edit mr-1"></i>
            REVIEW
          </button>
        </li>
        <li class="list-group-item"> <button type="button" class="btn btn-outline-info btn-lg btn-block btn-sm"> <i
              class="fas fa-play mr-1"></i> TRAILER
          </button>
        </li>
        <li class="list-group-item">
          <button type="button" class="btn btn-outline-info btn-lg btn-block btn-sm"> <i
              class="fas fa-shopping-cart"></i> PURCHASE
          </button>
        </li>
        <li class="list-group-item">
          <button type="button" class="btn btn-outline-info btn-lg btn-block btn-sm"> <i
              class="fas fa-shopping-cart"></i> button backup
          </button>
          <!-- <button type="button"
                  *ngIf="!currentMoviePurchased"
                  (click)="buyMovie(movie)"
                  class="btn btn-light btn-lg btn-block btn-sm"> BUY {{movie?.price | currency}} </button>

          <button type="button"
                  *ngIf="currentMoviePurchased"
                  class="btn btn-light btn-lg btn-block btn-sm"> WATCH MOVIE </button> -->
        </li>
      </ul>

    </div>


  </div>
  <div class="row mt-4 mr-2">
    <div class="col-4">
      <h5>MOVIE FACTS</h5>
      <hr>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <i class="far fa-calendar-alt mr-2"></i>Release Date
          <span class="badge badge-pill badge-dark">{{movie?.releaseDate | date}}</span>
        </li>

        <li class="list-group-item">
          <i class="fas fa-hourglass-half mr-2"></i>Run Time
          <span class="badge badge-pill badge-dark">{{movie?.runTime}} m</span>
        </li>

        <li class="list-group-item">
          <i class="far fa-money-bill-alt"></i> Box Office
          <span class="badge badge-pill badge-dark"> {{movie?.revenue | currency }}</span>
        </li>

        <li class="list-group-item">
          <i class="fas fa-dollar-sign mr-2"></i> Budget
          <span class="badge badge-pill badge-dark"> {{movie?.budget | currency}}</span>
        </li>

        <li class="list-group-item">
          <i class="fab fa-imdb"></i>
          <a href="{{movie?.imdbUrl}}" class="text-dark ml-3" target="_blank"> <i class="fas fa-share-square mr-2"></i>
          </a>
        </li>

      </ul>
    </div>

    <div class="col-4 offset-1">
      <h5>CAST</h5>

      <table class="table">

        <tbody>
          <tr *ngFor="let movieCast of movie?.movieCasts">
            <td> <img src="{{ movieCast.cast.profilePath }}" class="cast-small-img rounded-circle" style="height: 60px;" alt="{{ movieCast.cast.name }}" />
            </td>
            <td> {{movieCast.cast.name}} </td>
            <td> {{movieCast.cast.character}}</td>
          </tr>

        </tbody>
      </table>

    </div>
  </div>

</div>