@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create";
}


<h1>Create Movie</h1>

<form method="post">
    Title: <input type="text" value="" name="title" id="" class=""/> <br />
    Budget: <input type="text" value="" name="budget" id="" class=""/> <br />

    @*// info with name and value, this is HTML, KeyValue pair*@
    <input type="submit"  value="Save Movie"/>
</form>