@model IEnumerable<MovieStore.Core.Entities.Movie>
@*
    This is Genre/index page
        return AllGenres
*@
    <div>
        <div class="container-fluid">
            <div class="row">
                @foreach (var movie in Model)
                {
                    @movie.Title <br />

                }
            </div>
        </div>
        @* use partial view in Views/Shared/_MovieCard to display selected items*@
        <div class="container-fluid">
            <div class="row">
                @foreach (var movie in Model)
                {
                    <partial name="_MovieCard" model=" movie" /> @*firstway*@
                    @* @await Html.PartialAsync("_MovieCard", movie) @secondway*@
                }
            </div>
        </div>


    </div>