@model IEnumerable<MovieStore.Core.Entities.Movie>

@*
This is Movie/index page
    return TopRatedMovies
*@

<h4>25 top rated movies</h4>
<div>
    <div class="container-fluid">
        <div class="row">
            @foreach (var movie in Model)
            {
                @movie.Title  <br />

            }
        </div>
    </div>
</div>