@*
    // check if the user is authenicated
    if yes
        then show his firstname and last name
    else
        show Login and SignUp button
*@

@if (User.Identity.IsAuthenticated)
{
    <li ngbDropdown class="nav-item dropdown text-capitalize">
        <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown"
           style="cursor: pointer;" aria-haspopup="true"
           aria-expanded="false">
            @User.Claims.FirstOrDefault(c=> c.Type == System.Security.Claims.ClaimTypes.GivenName).Value
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" asp-controller="User" asp-action="MoviePurchased">Library (myMoviesCount)</a>
            <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Log Out</a>
            <a class="dropdown-item">My Account</a>
        </div>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark"  asp-controller="Account" asp-action="Login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark"  asp-controller="Account" asp-action="Register">Sign Up</a>
    </li>
}
